:host {
    display: block;
    position: relative;
}

#arena-canvas,
#debug-canvas {
    position: relative;
    z-index: 1;
}

#debug-canvas {
    position: absolute;
}

.debug-info {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    padding: 5px;
    width: auto;
    pointer-events: none;

    background-color: rgba(0, 0, 0, 0.63);
    border: 1px lime solid;
}
