:host {
    display: block;
    position: relative;
}

#arena-canvas,
#debug-canvas {
    position: relative;
    z-index: 1;
}

#arena-canvas {
    background: #74920c;
    border: 1px solid white;

    &:focus {
        border: 1px solid orange;
    }
}

#debug-canvas {
    position: absolute;
}

.debug-info {
    background-color: rgba(0, 0, 0, 0.63);
    border: 1px lime solid;
    left: 0;
    padding: 5px;

    pointer-events: none;
    position: absolute;

    top: 0;
    z-index: 2;

    &__robot {
        table {
            border-collapse: collapse;
            margin-bottom: 10px;
            width: auto;
        }

        table,
        th,
        td {
            border: 1px solid;
        }

        td {
            width: 150px;
        }
    }
}
