<rc-background></rc-background>

@if (DEBUG.enabled) {
    <canvas
        id="debug-canvas"
        #debugCanvas
        [height]="ARENA_SIZE"
        [width]="ARENA_SIZE"
        style="border: 1px solid white"
    ></canvas>
}
<canvas
    id="arena-canvas"
    #arenaCanvas
    (mousemove)="onCanvasMouse($event, arenaCanvas)"
    [height]="ARENA_SIZE"
    [width]="ARENA_SIZE"
    style="border: 1px solid white"
></canvas>

@if (DEBUG.enabled) {
    @if (bots$ | async; as bots) {
        <div class="debug-info">
            @for (bot of bots; track bot) {
                <div class="debug-info__robot">
                    <b>{{ bot.name }}</b
                    ><br />
                    HP: {{ bot.health }}<br />
                    Pos: {{ bot.position.x | number : '1.0-0' }} / {{ bot.position.y | number }}<br />
                    Rot: {{ bot.rotation | number }}<br />
                    Vel: {{ bot.velocity.x | number }} / {{ bot.velocity.y | number }}
                    <hr />
                </div>
            }
        </div>
    }
}
