<img #backgroundImage src="assets/images/arena_bg.jpg" style="display: none" />

<canvas
    id="arena-canvas"
    #arenaCanvas
    tabindex="0"
    (mousemove)="onCanvasMouse($event, arenaCanvas)"
    (wheel)="onCanvasWheel($event)"
    (keydown.alt)="onZoomHotkey($event)"
    (keyup.alt)="onZoomHotkeyUp($event)"
    (keyup.z)="onZoomReset($event)"
    [height]="ARENA_SIZE"
    [width]="1400"
    style="border: 1px solid white"
></canvas>

<!--@if (DEBUG.enabled) {-->
<!--    <canvas-->
<!--            id="debug-canvas"-->
<!--            #debugCanvas-->
<!--            [height]="ARENA_SIZE"-->
<!--            [width]="ARENA_SIZE"-->
<!--            style="border: 1px solid white"-->
<!--    ></canvas>-->
<!--}-->

@if (DEBUG.enabled) {
    @if (bots().length > 0) {
        <div class="debug-info">
            @for (bot of bots(); track bot.id) {
                <div class="debug-info__robot">
                    <table border="1">
                        <tr>
                            <th colspan="2">{{ bot.name }}</th>
                        </tr>
                        <tr>
                            <th>HP</th>
                            <td>{{ bot.health }}</td>
                        </tr>
                        <tr>
                            <th>Pos</th>
                            <td>{{ bot.position.x | number: "1.0-1" }} / {{ bot.position.y | number: "1.0-1" }}</td>
                        </tr>
                        <tr>
                            <th>Rot</th>
                            <td>{{ bot.rotation | number: "1.0-1" }}</td>
                        </tr>
                        <tr>
                            <th>Vel</th>
                            <td>{{ bot.velocity.x | number: "1.0-1" }} / {{ bot.velocity.y | number: "1.0-1" }}</td>
                        </tr>
                    </table>
                    <hr />
                </div>
            }
        </div>
    }
}
